@model dynamic

<div class="row align-items-center justify-content-center">
    <form name="form.updateADraw" ng-submit="UpdateScope(balance);setScreen();">@*setScreen();*@
        <div class="shadow p-3 mb-5 bg-white">
            <div class="col-md-18">
                <div class="form-group">
                    <label for="amount">Amount<span style="color:red">*</span></label>
                    <input type="text" name="name" class="form-control" id="name">
                    <button type="submit" class="btn btn-link" style="float:right;overflow:auto;font-size:x-small;color:green;">SUBMIT</button>
                </div>
            </div>
        </div>
    </form>
</div>




